.team-member img.img-responsive {
 max-width: 110px;
}
.team-member i.fa {
 font-size: 110px;
}

.bu-event-date {
	margin-top: 24px; 
}
.bu-event-date > ul {
	list-style: none;
	line-height: 1;
	text-align: center;
}

.bu-event-date > ul > li:first-child,
.bu-event-date > ul > li:last-child {
	font-size: 150%; 
}

.bu-event-date > ul > li:nth-child(2) {
	font-size: 400%; 
}

.events, 
.bu-event-date,
.bu-event-date > ul {
	padding: 0;
}


.events > li {
	margin: 30px 0;
}

.eventDesc > p {
	font-size: 105%; 
}

section h3.section-subheading {
	margin-bottom: 0px; 
}

.talk-btn {
	margin-top: 15px; 
}
